header{
    height: 60px;
    background-color: #3377ff;
    border-radius: 0px 0px 20px 20px;
    position: relative;
}

.headermenu{
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hbutton{
    text-decoration: none;
    color: #f1f1f1;
    font-family: monospace;
    font-size: x-large ;
    margin: 25px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #f1f1f1;
}

.accesability{
    position: absolute;
    margin-top: -4px;
    margin-left: 5%;
}