.logo{
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 300px;
}

.hbody{
    margin: auto;
    max-width: 600px;
    width: 50%;
    margin-top: 240px;
    margin-bottom: 60px;
}

.tel{
    text-align: center;
    font-family: monospace;
    font-size: 15px;
}

iframe{
    margin-top: 50px;
    border-radius: 20px;
    width: 550px;
    height: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
