body{  
    font-family: monospace;
    font-size: 15px;
}

.information {  
    margin: auto;
    max-width: 600px;
    width: 50%; 
    margin-top: 20px;
} 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.announcement{
    border-radius: 10px;
    background-color: #99bbff;
    width: 45%;
    margin: auto;
    margin-top: 20px;
    min-width: 200px;
    max-width: 400px;
    line-height: 25px;
}

.ltitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.isearch{
    border-radius: 10px;
    line-height: 20px;
    width: 78%;
    border-radius: 10px 0px 0px 10px;
    margin-right: -1px;
    text-align: center;
}

input[type=search]:focus{  
    background-color: #e6eeff;  
    outline: none;  
}

.ibutton{
    border-radius: 10px;
    height: 26px;
    width: 22%;
    border-radius: 0px 10px 10px 0px;
    margin-left: -1px;
    background-color:aliceblue;
}

.ibutton:hover {  
    opacity: 1;  
} 

.searchdiv{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 28px;
}

.titlos{
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
}

hr {
    margin-bottom: 25px;
}